/****************** 
  Vars
******************/

/****************** 
  Common Style
******************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
}

main {
  height: 1500px;
}

.main-content {
  max-width: 1140px;
  padding: 100px 15px 0;
  margin: 0 auto;
}

/****************** 
  Header
******************/

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px;
  background: white;
}

.navbar a img {
  width: 200px;
}

.navbar ul {
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.navbar ul li {
  margin: 5px 15px;
}

.navbar ul li a {
  padding: 10px 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.875em;
  color: #1b3c59;
  border-bottom: 2px solid transparent;
  transition: border 0.2s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
  border-bottom-color: #73D462;
}

.navbar ul li:last-child a {
  padding: 12px 20px;
  border-radius: 7px;
  background-color: #73D462;
  color: #ffffff;
  cursor: pointer;
  border-bottom: none;
}

@media (min-width: 576px) {
  /* 
  small
  */
}

@media (min-width: 768px) {
  /* 
  mediun
  */
}

@media (min-width: 992px) {
  /* 
  large
  */
}

@media (min-width: 1200px) {
  /* 
  extra large
  */
}

/****************** 
  Main
******************/

/****************** 
  Main /students
******************/

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.students {
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 50px;
}

.students .student {
  text-decoration: none;
  color: #1b3c59;
  height: 250px;
  background: white;
  padding: 15px;
  box-shadow: 5px 7px 14px 0 #b0b0b0;
}

.students .student .info {
  display: flex;
  margin-bottom: 30px;
}

.students .student .info img {
  border-radius: 5px;
  width: 100px;
  margin-right: 20px;
}

.students .student .description {
  margin-bottom: 20px;
}

.student2 {
  text-decoration: none;
  color: #1b3c59;
  margin-top: 100px;
  height: 250px;
  background: white;
  padding: 15px;
  box-shadow: 5px 7px 14px 0 #b0b0b0;
}

.student2 .info {
  display: flex;
  margin-bottom: 30px;
}

.student2 .info img {
  border-radius: 5px;
  width: 100px;
  margin-right: 20px;
}

.student2 .description {
  margin-bottom: 20px;
}

/****************** 
  Footer
******************/

.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b3c59;
  padding: 50px 0;
}

.nav-footer .info {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  list-style: none;
}

.nav-footer .info .footer-brand {
  display: flex;
  flex-direction: column;
}

.nav-footer .info .footer-brand img {
  width: 200px;
}

.nav-footer ul {
  list-style: none;
}

.nav-footer ul a {
  color: #ffffff;
  text-decoration: none;
}

