/****************** 
  Footer
******************/
.nav-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $boolean-blu;
  padding: 50px 0;

  .info {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    color: $white;
    list-style: none;
    
    .footer-brand {
      display: flex;
      flex-direction: column;

      img {
        width: 200px;
      }
    }
  }

  ul{
    list-style: none;
    a{
      color: $white;
      text-decoration: none;
      
    }
  }
}