/****************** 
  Header
******************/

.navbar{
  @include flex-center-center(row,space-between,center); 
  padding: 15px;

  a{

    img{
      width: 200px;
    }
  }

  ul{
    flex-basis: 100%;
    @include flex-center-center(row,flex-end,center); 
    @include reset-list;

    li{
      margin: 5px 15px;
    
      a{
        padding: 10px 8px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .875em;
        color: $boolean-blu;
        border-bottom: 2px solid transparent;
        transition: border .2s;
        
        &.active,
        &:hover {
          border-bottom-color:#73D462;
        }
      }

      &:last-child{
        a{
          @include btn;
          border-bottom: none;
        }
      }
    }
  }
}





// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  /* 
  small
  */
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
/* 
mediun
*/
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  
  /* 
  large
  */
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

/* 
extra large
*/
}









