/****************** 
  Main /students
******************/
h1{
  text-align: center;
  margin-bottom: 30px;
}

.students{
  padding: 0 25px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 20px;
  row-gap: 50px; 
  

  .student{
    @include reset-a;
    height: 250px ;
    background: white;
    padding: 15px;
    box-shadow: 5px 7px 14px 0 #b0b0b0;
    
    .info{
      display: flex;
      margin-bottom: 30px;
      
      img{
        border-radius: 5px;
        width: 100px;
        margin-right: 20px;
      }
    }

    .description{
      margin-bottom: 20px;
    }
  }

  
}