/****************** 
  Vars
******************/

//Colors
$boolean-green: #73D462;
$boolean-blu: #1b3c59;
$black: #000000;
$white: #ffffff;
$grey: rgb(122, 122, 122);
$brown: #58402C;
$lightgrey: #949494;



//Typography
$rubik-sans: 'Rubik', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$font-s25: 25px;


//Setup
$row: row;
$flex: flex;
$flex-end: flex-end;
$align-center: center;
$visibility-hidden: hidden;
$none: none;
$border-1-s-grey: 1px solid $lightgrey;
$bottom: bottom;